APP__DEBUG=false
APP__GENERATE_OPENAPI=false

BROKER__URL=nats://urlshortener-nats:4222

DATABASE__URL=postgresql+asyncpg://urlshortener:changeme@urlshortener-database/urlshortener

LOGGING__LEVEL=info
