[project]
name = "generator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "faststream>=0.6.3",
    "pydantic-settings>=2.12.0",
]
